<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Checador_FXE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Checador_FXE.Properties.Properties" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Checador_FXE.Properties.Settings>
            <setting name="TURNOS_HORARIOS" serializeAs="String">
                <value>{"1":{"titulo":"Turno corrido","primer_horario":{"entrada":800,"salida":1500},"segundo_horario":{"entrada":0,"salida":0},"tiempo_extra":{"entrada":0,"salida":0}},"2":{"titulo":"Turno completo con comida","primer_horario":{"entrada":800,"salida":1300},"segundo_horario":{"entrada":1500,"salida":1700},"tiempo_extra":{"entrada":0,"salida":0}},"3":{"titulo":"Media tarde","primer_horario":{"entrada":1500,"salida":1700},"segundo_horario":{"entrada":0,"salida":0},"tiempo_extra":{"entrada":0,"salida":0}}}</value>
            </setting>
            <setting name="MINUTOS_TOLERANCIA" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="ABRIR_SIEMPRE_AL_GENERAR" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LUGAR_REMITENTE_DEFAULT" serializeAs="String">
                <value>Hermosillo</value>
            </setting>
            <setting name="DIVISION_REMITENTE_DEFAULT" serializeAs="String">
                <value>Hermosillo</value>
            </setting>
            <setting name="DISPOSITIVO_DEFAULT" serializeAs="String">
                <value>ZKTECO K40 KIT</value>
            </setting>
            <setting name="COLOR_PINCEL" serializeAs="String">
                <value>Azul</value>
            </setting>
            <setting name="LOCALIDAD_DEFAULT" serializeAs="String">
                <value>Sufragio</value>
            </setting>
            <setting name="SERVER_HOSTNAME" serializeAs="String">
                <value>10.10.129.127</value>
            </setting>
            <setting name="SERVER_USER" serializeAs="String">
                <value>rmt_checador_fxe</value>
            </setting>
            <setting name="SERVER_PASS" serializeAs="String">
                <value>F3rr0m3x2026*</value>
            </setting>
            <setting name="SERVER_PORT" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="DEFAULT_FILENAME" serializeAs="String">
                <value>Reporte de Asistencias</value>
            </setting>
        </Checador_FXE.Properties.Settings>
        <Checador_FXE.Properties.Properties>
            <setting name="TURNOS_HORARIOS" serializeAs="String">
                <value>{"1":{"primer_horario":{"entrada":800,"salida":1500},"segundo_horario":{"entrada":0,"salida":0},"tiempo_extra":{"entrada":0,"salida":0}},"2":{"primer_horario":{"entrada":800,"salida":1300},"segundo_horario":{"entrada":1500,"salida":1700},"tiempo_extra":{"entrada":0,"salida":0}},"3":{"primer_horario":{"entrada":1500,"salida":1700},"segundo_horario":{"entrada":0,"salida":0},"tiempo_extra":{"entrada":0,"salida":0}}}</value>
            </setting>
        </Checador_FXE.Properties.Properties>
    </userSettings>
</configuration>